In [2]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import make_scorer
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
import random
import matplotlib.pyplot as plt

In [3]:
#load data
train = pd.read_csv('new_train.csv')
#validation = pd.read_csv('validation.csv')
new_test = pd.read_csv('new_test.csv')

In [4]:
test = pd.read_csv('test.csv')

In [5]:
test.head()

,weekday,hour,bidid,userid,useragent,IP,region,city,adexchange,domain,...,slotid,slotwidth,slotheight,slotvisibility,slotformat,slotprice,creative,keypage,advertiser,usertag
0,0,12,366c563de7d90feb9d4dab53e795a93fb3157387,75045dd2f2136c93fe55fe6c446ec1527ed8f0bb,windows_chrome,27.197.36.*,146,159,3.0,DDTSQuf0MTTNaqKIvMpENpn,...,Astro_F_Rectangle,300,250,0,0,10,00fccc64a1ee2809348509b7ac2a97a5,b2e35064f3549d447edbbdfb1f707c8c,3427,"10024,10077,10075,10063,10031,10102,10006,1304..."
1,3,14,29167d4caa719788b5a342dbaa25151d53121f80,11279eb1f8f7a88f877db911673522b6ff202aa7,android_safari,124.126.227.*,1,1,NaN,d63d96468f66986d5a8eb5225ad0b6f0,...,2745306850,320,50,FirstView,Na,5,11908,NaN,2997,NaN
2,5,19,ff8bc3f4d44a3ea60c5f3a3a8fbe7cd98fb2966e,4771a819a3f5b86776d8a9456f4f2506578f78d8,windows_ie,116.116.104.*,27,34,1.0,trqRTJkrBoq7JsNr5SqfNX,...,mm_34022157_3445226_11175100,336,280,2,1,0,77819d3e0b3467fe5c7b16d68ad923a1,bebefa5efe83beee17a3d245e7c5085b,1458,"13866,10006,10024,10059,10048,10063,10067,1008..."
3,0,21,844c2da00d45315f20b748ec131c26ee99a7cbc7,5360671379f3204afa9cc0edd8fd2e2096cb09eb,windows_ie,115.46.145.*,238,245,4.0,6d27caf5a202ec085f80af7163ef7cb0,...,210842,960,90,FirstView,Na,30,10717,NaN,2821,"10075,13042,10006,10110,13776,10031,10063"
4,2,20,c6017f0ad0c44d7d0c9b62583ea863f28941c0ca,d791b5f6306b9d299f81daa5448ced7e5bfa010f,windows_ie,221.199.203.*,27,35,3.0,3FKElpuEMusyJqKbuKz,...,Fashion_F_Rectangle,300,250,0,0,50,44966cc8da1ed40c95d59e863c8c75f0,43f4a37f42a7c5e6219e2601b26c6976,3386,10063

In [6]:
new_test.head()

,Unnamed: 0,bidprice,click,payprice,usertag_10006,usertag_10024,usertag_10031,usertag_10048,usertag_10052,usertag_10057,...,advertiser_2821,advertiser_2997,advertiser_3358,advertiser_3386,advertiser_3427,advertiser_3476,adexchange_1.0,adexchange_2.0,adexchange_3.0,adexchange_4.0
0,0,NaN,NaN,NaN,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,1,NaN,NaN,NaN,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2,NaN,NaN,NaN,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,3,NaN,NaN,NaN,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,4,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [7]:
y_train = train['click']
X_train = train.drop(['click','bidprice','payprice'],axis=1)
test_x = new_test.drop(['click','bidprice','payprice'],axis=1)

In [9]:
def XGboosting(X_train,y_train,Validation_x,n_estimators = 200, max_depth = 3, learning_rate = 0.1, random_state = 123):
    XG = XGBClassifier(n_estimators = n_estimators, max_depth = max_depth, learning_rate = learning_rate, random_state = random_state)
    XG_model = XG.fit(X_train, y_train)
    XG_pCTR = XG_model.predict_proba(Validation_x)
    XG_pCTR = pd.DataFrame(XG_pCTR)
    XG = pd.DataFrame(data = list(zip(test["bidid"], XG_pCTR[1])),
                               columns = ["bidid", "pCTR"])
    return XG

In [10]:
XG_test =  XGboosting(X_train,y_train,test_x,n_estimators = 200, max_depth = 5 , learning_rate = 0.1, random_state = 500)

In [17]:
XG_test.head()

                                      bidid      pCTR
0  366c563de7d90feb9d4dab53e795a93fb3157387  0.041628
1  29167d4caa719788b5a342dbaa25151d53121f80  0.059547
2  ff8bc3f4d44a3ea60c5f3a3a8fbe7cd98fb2966e  0.002232
3  844c2da00d45315f20b748ec131c26ee99a7cbc7  0.056854
4  c6017f0ad0c44d7d0c9b62583ea863f28941c0ca  0.016870

In [9]:
XG_test.to_csv('XG_test.csv')

In [54]:
def XGboosting_pClick(X_train,y_train,Validation_x,n_estimators = 200, max_depth = 3, learning_rate = 0.1, random_state = 500):
    XG = XGBClassifier(n_estimators = n_estimators, max_depth = max_depth, learning_rate = learning_rate, random_state = random_state)
    XG_model = XG.fit(X_train, y_train)
    XG_pClick = XG_model.predict(Validation_x)
    XG_pClick = pd.DataFrame(XG_pClick)
    XG_pClick = pd.DataFrame(data = list(zip(test["bidid"], XG_pClick[0])),
                               columns = ["bidid", "pClick"])
    return XG_pClick

In [55]:
XG_pClick =  XGboosting_pClick(X_train,y_train, test_x ,n_estimators = 200, max_depth = 5, learning_rate = 0.1, random_state = 500)

In [57]:
XG_pClick.head()

                                      bidid  pClick
0  366c563de7d90feb9d4dab53e795a93fb3157387     0.0
1  29167d4caa719788b5a342dbaa25151d53121f80     0.0
2  ff8bc3f4d44a3ea60c5f3a3a8fbe7cd98fb2966e     0.0
3  844c2da00d45315f20b748ec131c26ee99a7cbc7     0.0
4  c6017f0ad0c44d7d0c9b62583ea863f28941c0ca     0.0

In [58]:
XG_pClick.to_csv('XG_pClick.csv')

<font face="å¾®è½¯é›…é»‘" size=6 color=#000000> Linear Strategy

In [12]:
#basebid =176.66667
avgCTR= 0.0007375623256619447

In [12]:
def LinearStrategy(pCTR, base_bid,avgCTR):
    avgCTR = np.repeat(avgCTR*100, pCTR.shape[0])
    base_bid =  np.repeat(base_bid, pCTR.shape[0])
    bidprices  = (base_bid * pCTR['pCTR'])/ avgCTR
    return bidprices

In [59]:
bidprices = LinearStrategy(XG_test, 193,avgCTR)

In [60]:
Group_17 = pd.DataFrame(data = list(zip(test["bidid"], bidprices)),
                               columns = ["bidid", "bidprice"])

In [61]:
Group_17.head()

                                      bidid    bidprice
0  366c563de7d90feb9d4dab53e795a93fb3157387  108.929064
1  29167d4caa719788b5a342dbaa25151d53121f80  155.817844
2  ff8bc3f4d44a3ea60c5f3a3a8fbe7cd98fb2966e    5.841322
3  844c2da00d45315f20b748ec131c26ee99a7cbc7  148.771236
4  c6017f0ad0c44d7d0c9b62583ea863f28941c0ca   44.143922

In [62]:
Group_17.to_csv("Group_17.csv")

In [36]:
Group_17.shape

(303375, 2)

In [35]:
Group_17['bidprice'].sort_values()[-1000:].sum()

1623833.4178352463

In [1]:
def Non_LinearStrategy(pCTR, base_bid,avgCTR,m,n):
    avgCTR = np.repeat(avgCTR*100, pCTR.shape[0])
    base_bid =  np.repeat(base_bid, pCTR.shape[0])
    m= np.repeat(m, pCTR.shape[0])
    n= np.repeat(n, pCTR.shape[0])
    bidprices  =  base_bid  * ((pCTR['pCTR']/ avgCTR)**2) + m* (pCTR['pCTR']/ avgCTR) + n
    return bidprices

In [10]:
XG_test =  pd.read_csv('XG_test.csv')

In [13]:
bidprices = Non_LinearStrategy(XG_test,166.66667  ,avgCTR, 105.555556 , 2)

In [14]:
Group_17 = pd.DataFrame(data = list(zip(test["bidid"], bidprices)),
                               columns = ["bidid", "bidprice"])

In [16]:
Group_17.to_csv("Group_17.csv")

In [17]:
Group_17.head()

                                      bidid    bidprice
0  366c563de7d90feb9d4dab53e795a93fb3157387  114.666577
1  29167d4caa719788b5a342dbaa25151d53121f80  195.854580
2  ff8bc3f4d44a3ea60c5f3a3a8fbe7cd98fb2966e    5.347406
3  844c2da00d45315f20b748ec131c26ee99a7cbc7  182.397171
4  c6017f0ad0c44d7d0c9b62583ea863f28941c0ca   34.862380

In [19]:
Group_17.tail()

                                           bidid   bidprice
303370  c3bb9e4340efd0b7727e1340be7975856878e27c  10.665812
303371  75a0dac04603fa79e811f1c3e7d1a309f5a81bbf  11.195738
303372  edb83d1e92bab4113360a655b68c2e44ace6a81d  17.747870
303373  5eca186cb78a6eaadf91aa7070c88f2c25e31464  34.612200
303374  afcdff59c976336fbcecb98b2c7379d369496131   6.556782

<font face="å¾®è½¯é›…é»‘" size=6 color=#000000> ORTB

In [20]:
c =   6 
lambdas = 0.000025

In [21]:
def Optimal_RealTime_Bidding_1(pCTR, c, lambdas):
    c= np.repeat(c, pCTR.shape[0])
    lambdas = np.repeat(lambdas, pCTR.shape[0])
    bidprices = np.sqrt( (c/lambdas * pCTR['pCTR'] )+c**2) - c
    return bidprices

In [22]:
bidprices = Optimal_RealTime_Bidding_1(XG_test, c, lambdas)

In [23]:
Group_17 = pd.DataFrame(data = list(zip(test["bidid"], bidprices)),
                               columns = ["bidid", "bidprice"])

In [24]:
Group_17.head()

                                      bidid    bidprice
0  366c563de7d90feb9d4dab53e795a93fb3157387   94.133470
1  29167d4caa719788b5a342dbaa25151d53121f80  113.696441
2  ff8bc3f4d44a3ea60c5f3a3a8fbe7cd98fb2966e   17.911336
3  844c2da00d45315f20b748ec131c26ee99a7cbc7  110.965550
4  c6017f0ad0c44d7d0c9b62583ea863f28941c0ca   57.912240

In [25]:
Group_17.to_csv("Group_17.csv")

<font face="å¾®è½¯é›…é»‘" size=6 color=#000000> Reserve

In [53]:
reversed_test = test_x.iloc[::-1]

In [54]:
XG_test =  XGboosting(X_train,y_train,reversed_test,n_estimators = 200, max_depth = 5 , learning_rate = 0.1, random_state = 500)

In [ ]:
bidprices = LinearStrategy(XG_test, basebid,avgCTR)